<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
    </configSections>
    <spring>
        <context>
            <resource uri="config://spring/objects" />
        </context>
        <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
            <description>自动日志，事务，权限</description>
            <object id="logPointcut" type="Spring.Aop.Support.AttributeMatchMethodPointcut, Spring.Aop">
                <property name="Attribute" value="iSnack.Common.Attribute.LogAttribute, iSnack.Common" />
            </object>
            <object id="logAdvice" type="iSnack.Common.Aspect.LogAdvice, iSnack.Common" />
            <object id="tranPointcut" type="Spring.Aop.Support.AttributeMatchMethodPointcut, Spring.Aop">
                <property name="Attribute" value="iSnack.Common.Attribute.TransactionAttribute, iSnack.Common" />
            </object>
            <object id="tranAdvice" type="iSnack.Common.Aspect.TransactionAdvice, iSnack.Common" />
            <object id="exceptionPointcut" type="Spring.Aop.Support.AttributeMatchMethodPointcut, Spring.Aop">
                <property name="Attribute" value="iSnack.Common.Attribute.ExceptionAttribute, iSnack.Common" />
            </object>
            <object id="exceptionAdvice" type="iSnack.Common.Aspect.ExceptionAdvice, iSnack.Common" />
            <aop:config>
                <aop:advisor id="AutoLogAdvisor" advice-ref="logAdvice" pointcut-ref="logPointcut" />
                <aop:advisor id="AutoTranAdvisor" advice-ref="tranAdvice" pointcut-ref="tranPointcut" />
                <aop:advisor id="AutoExceptionAdvisor" advice-ref="exceptionAdvice" pointcut-ref="exceptionPointcut" />
            </aop:config>
            <object id="productBLL" type="iSnack.BLL.Demo.ProductBLL, iSnack.BLL" />
        </objects>
    </spring>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
    <system.serviceModel>
        <services>
            <service name="iSnack.Service.Demo.ProductService">
                <endpoint address="" binding="wsHttpBinding" contract="iSnack.Service.Interface.Demo.IProductService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/iSnack.Service/Demo/ProductService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
                    <serviceMetadata httpGetEnabled="True" />
                    <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
                    <serviceDebug includeExceptionDetailInFaults="True" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
