<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="6e14d260-3208-4bdf-8ff0-bda55acd11ec"
            Publisher="CN=维C"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>iSnack.WindowsStore.Client</DisplayName>
    <PublisherDisplayName>维C</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="iSnack.WindowsStore.Client.App">
        <VisualElements
            DisplayName="iSnack.WindowsStore.Client"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="iSnack.WindowsStore.Client"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>